langchain
ipykernel
python-dotenv
langchain_community 
bs4 
arxiv 
pymupdf
wikipedia 
langchain-text-splitters
langchain-openai
chromadb
langchain-community
sentence_transformers
langchain_huggingface
torch
faiss-cpu
faiss-gpu
langchain_chroma
requests
httpx
beautifulsoup4
deepseek
langchain
langchain-core
langchain-openai
langchain-google-genai
google-generativeai
streamlit 
fastapi
uvicorn
langchain-groq
python-dotenv
langserver
pypdf
wikipedia
duckduckgo-search
SQLAlchemy
mysqlclient
mysql-connector-python
validators
youtube_transcript_api 
unstructured
pytube
numexpr
huggingface_hub
gradio
boto3 
awscli
openai
langchain_nvidia_ai_endpoints
crewai 
crewai-tools

neo4j
keras-nlp
keras
keras-hub

langchain_experimental
lamini 